body {
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
    font-size: 18px;
    margin: 0;
}

.inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background: linear-gradient(0deg, #969696 0%, #eee 100%);; 
    border-bottom: 1px solid black;
    overflow: auto;
    box-shadow: inset 0px 0px 2px 2px #777;
}

header h1 {
    float: left;
    font-size: 26px;
    margin-left: 16px;
    color: #000;
}

header nav {
    float: right;
    margin: 18px 16px 0 0;
}

header nav a {
    margin-left: 8px;
}

main {
    background-color: white;
    border: 1px solid black;
    border-top: none;
    overflow: auto;
}

article {
    margin: 16px 16px 16px 16px;
}

h2 {
    font-size: 22px;
}

.box, .users {
    background-color: #ddd;
    padding: 16px;
    position: relative;
    border-radius: 8px;
    margin-top: 32px;
    border: 1px solid black;
   
}

.box {
    width: 80%;
    margin: 32px auto 32px auto;
}

.users {
    width: 100%;
    max-width: 400px;
    max-height: 600px;
    overflow: scroll;
    margin-top: 8px;
}

.user button {
    float: right;
}

textarea {
    width: 100%;
    max-width: calc(100% - 16px);
}

.code {
    width: 60%;
}


input[type=text], input[type=password], select, textarea {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
}

button, input[type=submit], input[type=button] {
    background: linear-gradient(0deg, #114477 0%, #336699 100%);
    border: 2px solid #003366;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    color: #eee;
    margin: 8px 0 8px 0;
}

button:active, input[type=submit]:active, input[type=button]:active {
    background: #003366;
}

button.red {
    background: linear-gradient(0deg, #992211 0%, #AA3322 100%);
    border: 2px solid #881100;
}

button.red:active {
    background: #881100;
}

button.green {
    background: linear-gradient(0deg, #227722 0%, #449944 100%);
    border: 2px solid #116611;
}

button.green:active {
    background: #116611;
}

footer {
    margin-top: 8px;
    text-align: center;
    color: #444;
    font-size: 16px;
}

footer a {
    color: #444;
}